@font-face {
    font-family: 'OpenSansLight';
    src: url('ARCADECLASSIC.TTF');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #313c6a;
	margin: 1px;
	font-family: OpenSansLight;
}

.game{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #313c6a;
}